<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Date: {{date}}</p>
    <p>Name: {{fullName}}</p>
    <p>Email: {{email}}</p>
    <p>Company: {{company}}</p>
    <br />
    <p>Message: {{message}}</p>
  </body>
</html>